<h2 id='title'>Welcome to Ember.js</h2>

<a href="https://www.youtube.com/watch?v=Hm8XsgKT0Qw">Prototyping an Ember.js App in 20 Minutes</a>

{{outlet}}

&copy; 2014-2015 Some Guys at LSU
<br>
<a href="https://github.com/pantry-pal/pantry-pal">Source Code on Github</a>
