<div class="container">
  <!-- START THE FEATURETTES -->
  <div class="page-header">
    <h2>Entity-relationship Diagram</h2>
  </div>
  <img class="featurette-image img-responsive" src="/erd.png" alt="entity relationship diagram">
</div>
